<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Framework">

	


	<listeners>

		<listener class-name="listeners.CustomListeners"></listener>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>

	</listeners>

	<test name="Bank Manager Login Test">
		<classes>
			<class name="testcases.BankManagerLogin" />
		</classes>
	</test>
	
	
	<test name="Add Customer Test">
		<classes>
			<class name="testcases.AddCustomerTest" />
		</classes>
	</test>
	
	
	<test name="Open Account Test">
		<classes>
			<class name="testcases.OpenAccountTest" />
		</classes>
	</test>

	

</suite> <!-- Learning TestNg -->
